.sub-task {
  background-color: var(--tg-theme-link-color);
  opacity: 0.5;
  color: white;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  border: none;
  cursor: auto;
  outline: none;
  border-radius: 8px;
  /* width: 180px; */
  padding: 6px;
  width: 240px;
  min-height: 62px;

  &-active {
    opacity: 1;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    gap: 4px;
    align-items: flex-start;

    & div {
      text-align: start;
    }

    & span {
      font-weight: 400;
      font-size: 12px;
    }
  }
}
