.greeting {
  display: flex;
  align-items: center;
  gap: 12px;

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: #fbba40;

    & span {
      font-weight: 400;
      font-size: 13px;
      color: white;
    }
  }
}
