.team-page {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 125px);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    padding-bottom: 20px;
  }

  &__list {
    max-height: 100%;
    min-height: 62px;
    background-color: #272a2f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    font-size: 18px;

    &-block {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    & span {
      color: var(--accent-color);
    }

    &-received {
      font-size: 11px;
      color: var(--accent-color);
    }

    &-coin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }
}
