.clicker-btn {
	padding-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__button {
		width: 280px;
		height: 280px;
		border-radius: 50%;
		// border: 8px solid var(--tg-theme-link-color); 
		
		transition: transform 0.08s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		display: block;
		cursor: pointer;
		background-color: yellow;
		-webkit-tap-highlight-color: transparent;

		background: linear-gradient(to bottom, #575def, #2027)
	}

	&__image {
		height: 150px;
    width: 150px;  
		user-select: none;
    -webkit-user-drag: none; 
    -moz-user-select: none;  
    -ms-user-select: none; 
    pointer-events: none; 
    touch-action: none;  
  

	}
}

.text-animation {
	position: absolute;
	font-size: 55px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
	transform: translate(-50%, -100%);
	animation: fadeUp 1.5s forwards;
	pointer-events: none;
}

@keyframes fadeUp {
	0% {
		opacity: 1;
		transform: translate(-50%, -100%);
	}
	
	100% {
		opacity: 0;
		transform: translate(-50%, -300%);
	}
}


