.clicker-btn {
	
	padding-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;

	
}

.text-animation {
	position: absolute;
	font-size: 55px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
	transform: translate(-50%, -100%);
	animation: fadeUp 1.5s forwards;
	pointer-events: none;
}

.circle-outer {
	position: relative;
	border: none;
	background: linear-gradient(to bottom, #575def, #202731);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90vw;
	height: 90vw;
	max-width: 360px;
	max-height: 360px;
	padding: 1rem;
	border-radius: 9999px;
	width: 20rem;
	height: 20rem;
}

.circle-inner {
	background: radial-gradient(circle, #4960b2, #282e3e);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 1px #0003;
	height: 100%;
	width: 100%;
	border-radius: 9999px;

	& img {
		width: 72%;
		height: 100%;
	}
}


@keyframes fadeUp {
	0% {
		opacity: 1;
		transform: translate(-50%, -100%);
	}
	
	100% {
		opacity: 0;
		transform: translate(-50%, -300%);
	}
}


